<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Task | iBoss</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper ">

      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h1>Boss, Edit your list</h1>

        <div class="col s12 m4 l8">
          <form class="" action="/edit/<%=data.id%>" method="post" >
            <input type="text" name="task" value="<%=data.name%>" placeholder="">
            <select name="complete">

              <option value="<%=data.completion %>" selected ><%=data.completion %></option>
              <option value="<%=!data.completion %>"><%=!data.completion %></option>

            </select>

            <button class="waves-effect waves-light btn-large" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $('.tap-target').tapTarget('open');
      $('.tap-target').tapTarget('close');

      $(document).ready(function() {
        $('select').material_select();
      });

    </script>

  </body>
</html>
